# =========================
# dependencies
# =========================
node_modules/
oh_modules/

# =========================
# build output
# =========================
build/
**/build/
.hvigor/
.hvigor-cache/
.cxx/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# system / local config
# =========================
local.properties

# =========================
# HarmonyOS / ohpm lock
# =========================
**/.oh-package-lock.json5
build-profile.json5

# =========================
# clang / native tools
# =========================
.clangd/
.clang-format
.clang-tidy

# =========================
# test / analysis
# =========================
**/.test/
.appanalyzer/

# =========================
# logs
# =========================
*.log